.popup__texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 30px;
  width: 358px;
  margin: 0 0 48px;
  padding: 0;
  border: none;
}

@media screen and (max-width: 767px) {
  .popup__texts {
    width: 238px;
  }
}
